﻿
@model ResetPasswordViewModel
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Register</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3>Yeni parolu daxil edin və təsdiq edin!</h3>
                    <div class="spacer-10"></div>

                    <form id='contact_form' class="form-border" method="post">
                        <div class="form-input col-lg-12 my-4">
                            <input asp-for="NewPassword" placeholder="Yeni password-u daxil elə"
                                   class="form-control mb-3 p-4" aria-describedby="passwordHelpBlock">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            <input asp-for="ConfirmPassword" placeholder="Password-u təsdiq elə"
                                   class="form-control mb-3 p-4" aria-describedby="passwordHelpBlock">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="d-grid my-3">
                                <button type="submit" class="btn btn-dark btn-lg rounded-1">Password-u yenilə</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>